---
import { DateTime } from "luxon";
import { getWeatherSummary } from "@/api/lib/getWeatherSummarymary";
import type SummarizedWeather from "@/lib/types/summarized";
import SummaryTableOld from "@/components/SummaryTableOld.astro";

let summary: null | SummarizedWeather = JSON.parse(
  decodeURI(Astro.url.searchParams.get("data") || "null")
);

if (!summary && Astro.locals.user) {
  const dateString = Astro.params.date || "";
  console.log(dateString);
  const date = DateTime.fromISO(dateString);

  if (date.invalidReason) return new Response(null, { status: 404 });
  if (!Astro.locals.user) return new Response(null, { status: 401 });

  summary = await getWeatherSummary(
    Astro.locals.pb,
    Astro.locals.user.id,
    dateString
  );
}

if (!summary) return new Response(null, { status: 500 });
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <SummaryTableOld summary={summary} />
  </body>
</html>
