---
import { DateTime } from "luxon";
import type { SummarizedWeather } from "@/api/lib/types";
import SummaryTableOld from "@/components/SummaryTableOld.astro";
import { createClient } from "@/lib/client";

const client = createClient(Astro);

let summary: null | SummarizedWeather = JSON.parse(
  decodeURI(Astro.url.searchParams.get("data") || "null")
);

if (!summary) {
  const dateString = Astro.params.date || "";
  console.log(dateString);
  const date = DateTime.fromISO(dateString);

  if (date.invalidReason) return new Response(null, { status: 404 });

  const weatherRes = await client.api.weather[":date"].$get({
    param: { date: Astro.params.date ?? "" },
  });
  summary = await weatherRes.json();
}

if (!summary) return new Response(null, { status: 500 });
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <SummaryTableOld summary={summary} />
  </body>
</html>
