---
import CenteredCard from "@/layouts/CenteredCard.astro";

import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faSave, faCancel } from "@fortawesome/free-solid-svg-icons";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <CenteredCard>
    <form action={`/api/stations`} method="post">
      <Card>
        <CardHeader>
          <CardTitle>Add Weather Station</CardTitle>
          <CardDescription>
            Values should match those on Weather Underground
          </CardDescription>
        </CardHeader>
        <CardContent>
          <div class="grid grid-cols-2 gap-2">
            <div>
              <Label>Name</Label>
              <Input type="text" name="name" placeholder="Name" required />
            </div>
            <div>
              <Label>ID</Label>
              <Input type="text" name="wu_id" placeholder="ID" required />
            </div>
            <div>
              <Label>Latitude</Label>
              <Input type="number" name="lat" placeholder="Latitude" required />
            </div>
            <div>
              <Label>Longitude</Label>
              <Input
                type="number"
                name="lon"
                placeholder="Longitude"
                required
              />
            </div>
          </div>
        </CardContent>
        <CardFooter className="grid grid-cols-2 gap-2">
          <Button type="submit">
            <FontAwesomeIcon icon={faSave} className="h-4 w-4 mr-2" /> Save
          </Button>
          <a href="/stations" class="w-full">
            <Button variant="secondary" type="button" className="w-full">
              <FontAwesomeIcon icon={faCancel} className="h-4 w-4 mr-2" /> Cancel
            </Button>
          </a>
        </CardFooter>
      </Card>
    </form>
  </CenteredCard>
</Layout>
