---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import CenteredCard from "@/layouts/CenteredCard.astro";
---

<Layout>
  <CenteredCard>
    <Card>
      <CardHeader>
        <CardTitle>404 Error</CardTitle>
        <CardDescription>
          Uh-oh! Looks like this page does not exist
        </CardDescription>
      </CardHeader>
      <CardFooter>
        <a href="/" class="w-full">
          <Button className="w-full">Return to Main Page</Button>
        </a>
      </CardFooter>
    </Card>
  </CenteredCard>
</Layout>
