---
import Layout from "@/layouts/Layout.astro";
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import type { Record } from "pocketbase";

const emails = await Astro.locals.pb.collection("emails").getFullList();
---

<Layout>
  <Table>
    <TableHeader>
      <TableRow>
        <TableHead>Email</TableHead>
      </TableRow>
    </TableHeader>
    <TableBody>
      {
        emails.map((email: Record) => (
          <TableRow>
            <TableCell>{email.email}</TableCell>
          </TableRow>
        ))
      }
    </TableBody>
  </Table>
</Layout>
