---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import CenteredCard from "@/layouts/CenteredCard.astro";

const title = Astro.url.searchParams.get("title") || "Error";
const msg =
  Astro.url.searchParams.get("msg") || "There was an expected problem";
---

<Layout>
  <CenteredCard>
    <Card>
      <CardHeader>
        <CardTitle>{title}</CardTitle>
        <CardDescription>{msg}</CardDescription>
      </CardHeader>
      <CardFooter>
        <a href="/" class="w-full">
          <Button className="w-full">Return to Main Page</Button>
        </a>
      </CardFooter>
    </Card>
  </CenteredCard>
</Layout>
