---
import RootLayout from "@/layouts/RootLayout.astro";
import { Button } from "@/components/ui/button";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faBolt } from "@fortawesome/free-solid-svg-icons";
import type SummarizedWeather from "@/lib/types/summarized";
import SummaryTable from "@/components/SummaryTable.astro";
import { DateTime } from "luxon";
import SummaryTableOld from "@/components/SummaryTableOld.astro";

const summary: SummarizedWeather = {
  columns: [
    "Name",
    "7AM",
    "1PM",
    "7PM",
    "Max",
    "Min",
    "7AM",
    "1PM",
    "7PM",
    "5AM-5PM",
    "5PM-5AM",
  ],
  data: [
    [
      "Crocker River",
      "6°C",
      "20°C",
      "22°C",
      "25°C",
      "6°C",
      "0km/h WSW",
      "1km/h N",
      "0km/h NNW",
      "0.0mm",
      "0.0mm",
    ],
    [
      "Teapot Mountain",
      "7°C",
      "20°C",
      "23°C",
      "24°C",
      "6°C",
      "1km/h SSE",
      "11km/h WSW",
      "6km/h SW",
      "0.0mm",
      "0.0mm",
    ],
  ],
  headers: [
    {
      colspan: 1,
      name: "Name",
    },
    {
      colspan: 5,
      name: "Temperature",
    },
    {
      colspan: 3,
      name: "Wind",
    },
    {
      colspan: 3,
      name: "Precipitation",
    },
  ],
};

const encodedSummary = encodeURI(JSON.stringify(summary));
---

<RootLayout>
  <div class="w-full h-full py-16 overflow-auto">
    <div class="prose dark:prose-invert mx-auto">
      <FontAwesomeIcon
        icon={faBolt}
        className="h-20 text-sky-500 mx-auto mb-16"
      />
      <h1 class="text-center">Weather Summarizer</h1>
      <p class="text-center">
        A tool to summarize data from personal weather stations and deliver
        email reports
      </p>
      <div>
        <a href="/auth">
          <Button variant="secondary" className="w-full">Get Started</Button></a
        >
      </div>
      <br />
      <div class="not-prose">
        <SummaryTableOld summary={summary} />
      </div>
    </div>
  </div>
</RootLayout>
