---
import { DatePicker } from "@/components/DatePicker";
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="flex gap-4 justify-between items-center">
    <DatePicker client:load />
  </div>
</Layout>
