---
import CenteredCard from "@/layouts/CenteredCard.astro";

import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faSave } from "@fortawesome/free-solid-svg-icons";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import { Button } from "@/components/ui/button";
import { Textarea } from "@/components/ui/textarea";
import Layout from "@/layouts/Layout.astro";
import { DateTime } from "luxon";
import { Slider } from "@/components/ui/slider";
import TimeSlider from "@/components/TimeSlider";

const { user } = Astro.locals;
---

<Layout>
  <CenteredCard>
    <form action="/api/settings" method="post">
      <Card>
        <CardHeader>
          <CardTitle>Settings</CardTitle>
          <CardDescription>Edit configuration settings</CardDescription>
        </CardHeader>
        <CardContent>
          <div class="grid gap-4">
            <div class="grid gap-2">
              <Label htmlFor="wu_api_key">Weather Underground API Key</Label>
              <Input
                type="password"
                id="wu_api_key"
                name="wu_api_key"
                defaultValue={user.wu_api_key}
                placeholder="API Key"
                required
              />
            </div>
            <div class="grid gap-2">
              <Label htmlFor="times_of_interest">Time of Interest</Label>
              <Textarea
                id="times_of_interest"
                name="times_of_interest"
                defaultValue={JSON.stringify(user.times_of_interest, null, 2)}
                placeholder="Time of Interest"
                required
              />
            </div>
            <div class="grid gap-2">
              <Label htmlFor="time_zone">
                Time Zone (<a
                  href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"
                  class="underline text-sky-500">Valid Options</a
                >)
              </Label>
              <Input
                type="text"
                id="time_zone"
                name="time_zone"
                defaultValue={user.time_zone}
                placeholder="Time Zone"
                required
              />
            </div>
            <div class="grid gap-2">
              <Label htmlFor="email_time">Email Distribution Time</Label>
              <TimeSlider client:load default={user.email_time} name="email_time" />
            </div>
          </div>
        </CardContent>
        <CardFooter className="grid gap-2">
          <Button type="submit">
            <FontAwesomeIcon icon={faSave} className="h-4 w-4 mr-2" /> Save
          </Button>
        </CardFooter>
      </Card>
    </form>
  </CenteredCard>
</Layout>
