---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faSave } from "@fortawesome/free-solid-svg-icons";

import {
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import { Button } from "@/components/ui/button";
import { Textarea } from "@/components/ui/textarea";
import AppLayout from "@/layouts/app-layout.astro";
import TimeSlider from "@/components/TimeSlider";

import SettingsForm from "@/components/forms/settings-form";

import { hc } from "hono/client";
import { type AppType } from "@/api";

const headers = Object.fromEntries(Astro.request.headers);
const client = hc<AppType>(Astro.url.origin, { headers });

const res = await client.api.settings.$get();
const settings = await res.json();

if ("error" in settings) {
  throw new Error(settings.error);
}

if (!settings) {
  throw new Error("No settings found");
}
---

<AppLayout>
  <SettingsForm client:load initialData={settings} />
  <div>
    <form action="/api/settings" method="POST">
      <CardHeader className="pt-0 px-0">
        <CardTitle>Settings</CardTitle>
        <CardDescription>Edit configuration settings</CardDescription>
      </CardHeader>
      <CardContent className="px-0">
        <div class="grid gap-4">
          <div class="space-y-2">
            <Label htmlFor="wu_api_key">Weather Underground API Key</Label>
            <Input
              type="password"
              id="wu_api_key"
              name="wu_api_key"
              defaultValue={settings.wuApiKey ?? undefined}
              placeholder="API Key"
              required
            />
          </div>
          <div class="space-y-2">
            <Label htmlFor="times_of_interest">Time of Interest</Label>
            <Textarea
              id="times_of_interest"
              name="times_of_interest"
              className="font-mono"
              rows={10}
              defaultValue={JSON.stringify(settings.timesOfInterest, null, 2)}
              placeholder="Time of Interest"
              required
            />
          </div>
          <div class="space-y-2">
            <Label htmlFor="time_zone">
              Time Zone (<a
                href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"
                class="underline text-sky-500">Valid Options</a
              >)
            </Label>
            <Input
              type="text"
              id="time_zone"
              name="time_zone"
              defaultValue={settings.timeZone ?? undefined}
              placeholder="Time Zone"
              required
            />
          </div>
          <div class="space-y-2">
            <Label htmlFor="email_time">Email Distribution Time</Label>
            <TimeSlider
              client:load
              default={settings.emailTime ?? 0}
              name="email_time"
            />
          </div>
        </div>
      </CardContent>
      <CardFooter className="px-0 grid gap-2">
        <Button type="submit">
          <FontAwesomeIcon icon={faSave} className="h-4 w-4 mr-2" /> Save
        </Button>
      </CardFooter>
    </form>
  </div>
</AppLayout>
