---
import { Button } from "./ui/button";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faBolt } from "@fortawesome/free-solid-svg-icons";

const { user } = Astro.locals;
const imageUrl = Astro.locals.pb.files.getUrl(user, user.profile);
---

<div
  class="bg-card shadow border-b flex items-center justify-between px-6 py-2"
>
  <a href="/" class="flex gap-3 items-center">
    <FontAwesomeIcon icon={faBolt} className="h-5 text-sky-500" />
    <h1 class="font-medium">Weather Summarizer</h1>
  </a>

  <div class="flex gap-4 items-center">
    {
      user ? (
        <>
          <div class="flex gap-1 items-center">
            <img src={imageUrl} alt="profile" class="h-6 mr-2" />
            {user.username}
          </div>
          <form action="/api/auth/logout" method="post">
            <Button type="submit" variant="outline">
              Logout
            </Button>
          </form>
        </>
      ) : (
        <>
          <div class="text-muted-foreground">Guest</div>
          <a href="/auth">
            <Button>Login</Button>
          </a>
        </>
      )
    }
  </div>
</div>
