---
import { Button } from "./ui/button";
import {
  type LucideIcon,
  AtSign,
  Cloud,
  SatelliteDish,
  Info,
  Settings,
} from "lucide-react";

interface Page {
  name: string;
  link: string;
  icon: LucideIcon;
}

const pages: Page[] = [
  { name: "Weather", link: "/weather", icon: Cloud },
  { name: "Emails", link: "/emails", icon: AtSign },
  { name: "Stations", link: "/stations", icon: SatelliteDish },
  { name: "Settings", link: "/settings", icon: Settings },
  { name: "Help", link: "/help", icon: Info },
];

const currentPage = (link: string) => {
  if (link === "/")
    return pages
      .filter((page) => page.link !== "/")
      .every((page) => !Astro.url.pathname.startsWith(page.link));
  return Astro.url.pathname.startsWith(link);
};
---

<nav>
  <ul class="grid gap-2">
    {
      pages.map((page) => (
        <li class="w-full">
          <a href={page.link} class="w-full">
            <Button
              variant={currentPage(page.link) ? "secondary" : "ghost"}
              className="w-full justify-start"
            >
              <page.icon className="h-4 w-4 mr-2" />
              {page.name}
            </Button>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
