---
import {
  faAt,
  faCloud,
  faGear,
  faQuestion,
  faSatelliteDish,
  type IconDefinition,
} from "@fortawesome/free-solid-svg-icons";
import { Button } from "./ui/button";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";

interface Page {
  name: string;
  link: string;
  icon: IconDefinition;
  active: (pathname: string) => boolean;
}

const pages: Page[] = [
  {
    name: "Weather",
    link: "/weather",
    icon: faCloud,
    active: (pathname) => pathname.startsWith("/weather"),
  },
  {
    name: "Emails",
    link: "/emails",
    icon: faAt,
    active: (pathname) => pathname.startsWith("/emails"),
  },
  {
    name: "Stations",
    link: "/stations",
    icon: faSatelliteDish,
    active: (pathname) => pathname.startsWith("/stations"),
  },
  {
    name: "Settings",
    link: "/settings",
    icon: faGear,
    active: (pathname) => pathname.startsWith("/settings"),
  },
  {
    name: "Help",
    link: "/help",
    icon: faQuestion,
    active: (pathname) => pathname.startsWith("/help"),
  },
];
---

<nav class="bg-card p-2">
  <ul class="grid gap-1">
    {
      pages.map((page) => (
        <li class="w-full">
          <a href={page.link} class="w-full">
            <Button
              variant={page.active(Astro.url.pathname) ? "secondary" : "ghost"}
              className="w-full justify-start"
            >
              <FontAwesomeIcon icon={page.icon} className="h-4 w-4 mr-2" />
              {page.name}
            </Button>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
