---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<div class="w-full h-full py-16">
  <div class="mx-auto max-w-xl">
    <CardTitle className="text-4xl">Welcome</CardTitle>
    <CardDescription className="text-lg">
      This is a tool to summarize the data from personal weather stations and
      schedule email reports of that summary.
    </CardDescription>
  </div>
</div>
