---
import summarizeStations from "@/lib/summarizeStations";
import { DateTime } from "luxon";
import { getCollection, getEntry } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import SummaryTable from "@/components/SummaryTable.astro";
import { DatePicker } from "@/components/DatePicker";
import { Button } from "@/components/ui/button";

const dateString = Astro.url.searchParams.get("date") || "";
const date = DateTime.fromISO(dateString);
if (date.invalidReason) return Astro.redirect("/");

const stations = await getCollection("stations");
const timesOfInterest = await getEntry("timesOfInterest", "timesOfInterest");

const summary = await summarizeStations(
  stations.map((station) => station.data),
  date,
  timesOfInterest.data
);
---

<Layout>
  <div class="flex gap-4 justify-between items-center">
    <DatePicker client:load currentDate={date.toJSDate()} />
    <form
      action={`/sendEmail/?${Astro.params.searchParams?.toString()}`}
      method="post"
      class="flex gap-4"
    >
      <Button>Email to Recipients</Button>
    </form>
  </div>
  <br />
  <SummaryTable summary={summary} date={date} />
</Layout>
