---
import Navbar from "@/components/Navbar.astro";
import Sidebar from "@/components/Sidebar.astro";
import "@/globals.css";
import RootLayout from "./RootLayout.astro";
---

<RootLayout>
  <header class="z-50">
    <Navbar />
  </header>
  <main class="flex flex-row h-full">
    <aside class="bg-card z-0 shadow border-r p-4 min-w-[200px]">
      <Sidebar />
    </aside>
    <div class="p-4 overflow-auto w-full">
      <slot />
    </div>
  </main>
</RootLayout>
