---
import Navbar from "@/components/Navbar.astro";
import Sidebar from "@/components/Sidebar.astro";
import { ViewTransitions } from "astro:transitions";
import "@/globals.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/c961af0e55.js"
      crossorigin="anonymous"></script>
    <title>CGL S34 Weather Summary</title>
    <ViewTransitions />
  </head>
  <body class="h-screen flex flex-col overflow-hidden">
    <header class="z-50">
      <Navbar />
    </header>
    <main class="flex flex-row h-full">
      <aside class="bg-card z-0 shadow border-r p-4 min-w-[200px]">
        <Sidebar />
      </aside>
      <div class="p-4 overflow-auto w-full">
        <slot />
      </div>
    </main>
  </body>
</html>
