---
import { ViewTransitions } from "astro:transitions";
import "@/globals.css";
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <script
      src="https://kit.fontawesome.com/c961af0e55.js"
      crossorigin="anonymous"></script>
    <title>Weather Summarizer</title>
    <ViewTransitions />
  </head>
  <body class="h-screen flex flex-col overflow-hidden">
    <slot />
  </body>
</html>
